{
  "configVersion": 1,
  "prefix": "=",
  "client": "",
  "token": "",
  "channels": [""],
  "enableChatResponseFeatures": true,
  "debug": false,
  "announcements": [],
  "discord-token": "",
  "discord-log-channel": ""
}
